.table {
  .cellWrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px 10px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.238);
    }

    &.Pending {
      color: darkgoldenrod;
      background-color: rgba(218, 165, 32, 0.363);
    }

    &.Rejected {
      color: red;
      background-color: rgba(255, 0, 0, 0.219);
    }
  }
}
